.game {
 /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  margin: auto;
  min-height: 70vh;
  overflow-y: scroll;
  min-width: 70%;
  width: 80%;
  background: transparent;
  border-radius: 0.4rem;
  padding: 0.4rem;
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

.game .title {
  font-size: 1.5rem;
  margin: 0.5rem auto;
  text-align: center;
  color: rgba(255,255,255,0.5);
}

.game .title i {
  margin-left: 0.2rem;
  font-size: 1.7rem;
}

.game .score-box {
  width: 100%;
  margin: 0.4rem auto;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: inherit;
}

.score-box .box {
  width: 33%;
  min-height: 3rem;
  border: 1px solid rgba(255,255,255,0.5);
  text-align: center;
  overflow: hidden;
  border-radius: inherit;
  padding: 0.3rem;
  color: rgba(255,255,255,0.5);
}

.box .name {
  font-size: 0.9rem;
}

.score-box .vs {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(255,255,255,0.5);
}

.game .instruction {
  margin: 0.5rem auto;
  font-size: 1.3rem;
  padding: 0 1rem;
  text-align: center;
  color: rgba(255,255,255,0.5);
}


.game .play-tools {
  width: 100%;
  margin: 0.5rem auto;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25%;
  border-radius: inherit;
}

.game .tool-box {
  border-radius: inherit;
  text-align: center;
  min-width: 33%;
}

.game .user {
  margin-left: 0.5rem;
}

.game .computer {
  margin-right: 3rem;
}

.tool-box label {
  display: block;
  margin: 0.6rem 0;
}

 label i {
  font-size: 1.7rem;
  color: rgba(255,255,255,0.5);
  transition: 0.5s ease;
}

.user label i:hover {
  color: #933131;
}

.game .play-button {
  margin: 0.5rem 0;
  text-align: center;
}

.play-button .btn {
  border: 1px solid rgba(255,255,255,0.5);
  padding: 0.3rem 0;
  width: 5rem;
  background: transparent;
  border-radius: 0.4rem;
  color: rgba(255,255,255,0.5);
}

.game .screen {
  width: 90%;
  min-height: 5rem;
  margin: auto;
  padding: 0.3rem;
  border: 0.1px solid rgba(255,255,255,0.5);
  color: rgba(255,255,255,0.4);
  border-radius: 0.4rem;
  font-size: 0.9rem;
}

.game input[type=radio] {
  display: none;
}

.new-game {
  position: absolute;
  bottom: 5rem;
  right: 0.5rem;
  width: 5rem;
  padding: 0.5rem 0;
  border: 1px solid rgba(255,255,255,0.5);
  color: rgba(255,255,255,0.5);
  background: transparent;
  border-radius: 0.4rem;
}

.game .overall {
  margin: 0.8rem auto 0;
  width: 100%;
  color: rgba(255,255,255,0.5);
  background: transparent;
}

.overall .title {
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
  color: rgba(255,255,255,0.5);
  text-align: center;
}

.overall-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
